<!DOCTYPE html>
<head>
    <body>
        <title>TOURS AND TRAVEL | Event Data</title>
        <form action="../controller/eventDataDeleteCk.php" method="post" enctype="multipart/form-data">

        <h1>Delet data</h1>
        <table>
            <tr>
                <td>SERIAL</td>
                <td><input type="text" id="SERIAL" name="SERIAL" value=""></td>
            </tr>
            <tr>
                <td><input type="submit" class="delet_box" name="" id="submit" value="Delet"></td>
            </tr>
        </table>

    </form>
    </body>
</head>
</html>