<!DOCTYPE html>
<head>
    <title>TOURS AND TRAVEL | Event Data</title>
</head>
    <body>
    
        <form action="../controller/eventDataDeleteCk.php" method="post" enctype="multipart/form-data" onsubmit="return deletedValdate()">

        <h1>Delet data</h1>
        <table>
            <tr>
                <td>SERIAL</td>
                <td><input type="text" id="SERIAL" name="SERIAL" value="" ></td>
            </tr>
            <tr>
                <td><input type="submit" class="delet_box" name="" id="submit" value="Delete"></td>
            </tr>
        </table>

    </form>

     <script defer src="../controller/validation.js"></script>
     
    </body>

</html>