<!DOCTYPE html>
<head>
    <title>TOURS AND TRAVEL | Food Data</title>
</head>
    <body>
        
        <form action="../controller/foodDataAddCK.php" method="post" enctype="multipart/form-data">

        <h1>Add data</h1>
        <table>
            <tr>
                <td>SERIAL</td>
                <td><input type="text" id="SERIAL" name="SERIAL" value="" ></td>
            </tr>

            <tr>
                <td>breakfast</td>
                <td><input type="text" id="breakfast" name="breakfast" value="" ></td>
            </tr>
            <tr>
                <td>launch</td>
                <td><input type="text" id="launch" name="launch" value="" ></td>
            </tr>
            <tr>
                <td>dinner</td>
                <td><input type="text" id="dinner" name="dinner" value="" ></td>
            </tr>
            <tr>
                <td>snacks</td>
                <td><input type="text" id="snacks" name="snacks" value="" ></td>
            </tr>
            <tr>
                <td><input type="submit" id="button" name="uplode" value="Update"></td>
            </tr>
        </table>
    </form>

    <script defer src="../controller/validation.js"></script>
    
    </body>

</html>