* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(27, 27 27);
}

.card {
  background: white;
  width: 500px;
  margin: 10px;
  border-radius: 15px;
}

.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.card h2 {
  padding: 10px;
  text-align: center;
}

.card img {
  background-color: aqua;
  height: 150%;
  margin-bottom: 15px;
  width: 100%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
.gallaryCard{
  display: flex;
  flex-direction: row;
}