<!DOCTYPE html>
<head>
    <body>
        <title>TOURS AND TRAVEL | Details</title>
        <link rel="stylesheet" href="./readMore.css" />
        <form>
            <table>
                <tr>
                    <th>
                        <form>
                        <img src='../image/Dhaka.jpg'>
                    </form>
                    <form>
                        <td>Name</td>
                    </form>
                    </th>            
                </tr>
                </tr>
            </table>

        </form>
    </body>
</head>
</html>