<!DOCTYPE html>
<head>
    <body>
        <title>TOURS AND TRAVEL | Details</title>
        <link rel="stylesheet" href="./readMore.css" />
        <form>
            <tr border="1">
            <tr>
                <th>Name</th>
                <th>Name</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>Name</td>
                <td rowspan="2">Name</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Name</td>
                <td>Name</td>
            </tr>
                <!-- <tr rowspan="4">
                    <td>image</td>
                </tr>
                <tr><td>name</td></tr>
                <tr><td>place name</td></tr>
                <tr><td>Price</td></tr> -->
            </table>

        </form>
    </body>
</head>
</html>