<!DOCTYPE html>
<head>
    <title>TOURS AND TRAVEL | SlideShow Data</title>
</head>
<body>
    <body>
        
        <form action="../controller/slideShowUpdateCK.php" method="post" enctype="multipart/form-data">

        <h1>Update data</h1>
        <table>
            <tr>
                <td>SERIAL</td>
                <td><input type="text" id="SERIAL" name="SERIAL" value="" ></td>
            </tr>

            <tr>
                <td>Name</td>
                <td><input type="text" id="Name" name="Name" value="" ></td>
            </tr>
            <tr>
                <td>Image </td>
                <td><input type="file" id="file" name="file" ></td>
            </tr>
            <tr>
                <td><input type="submit" id="button" name="uplode" value="confirm"></td>
            </tr>
        </table>
    </form>
</body>
</html>